.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.header__aside_type_left {
  position: absolute;
  top: 4vh;
  left: 3vw;
}

.header__aside_type_left:last-child {
  margin: 0;
}

.header__aside_type_right {
  position: absolute;
  top: 4vh;
  right: 3vw;
}

.header__aside_type_right:last-child {
  margin: 0;
}

.header__button {
  color: white;
  margin-right: 2vw;
  font-size: 3vh;
  text-transform: uppercase;
}

.header__button:hover {
  animation: triger 0.4s linear 0s 1 forwards;
}

.header__button_active {
  text-decoration-line: underline;
  pointer-events: none;
}

@keyframes triger {
  0% {
    text-shadow: -2px -2px 2px yellow;
  }
  100% {
    color: black;
    font-weight: bold;
    opacity: 0.7;
  }
}