.footer {
  color: white;
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 20vh 15% 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: -1;
  opacity: 0;
}

.footer_opened {
  animation: open 0.4s ease-out forwards;
  z-index: 3;
}

.footer_projector {
  margin: 0;
  padding: 0;
  animation: open 1s ease-out forwards;
}

.footer__section {
  width: 33.3%;
  padding: 0 6px 0 3px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}

.footer__article {
  width: 100%;
  height: 70%;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

.footer__names {
  width: 100%;
  padding: 0;
  border-left: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__name-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__names .footer__section {
  width: 100%;
  padding: 0;
  border-left: none;
  align-items: center;
}

.slide-projector {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cinema-projector {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.opaque-projector {
  margin: auto;
  font-size: 2em;
  height: auto;
  text-align: center;
  width: 60%;
}

.footer__button {
  color: white;
  text-shadow: 2px 2px #000;
  position: fixed;
  top: 1.3vh;
  right: 3vw;
  z-index: 1;
  font-size: 5em;
  text-align: center;
  transform: rotate(45deg);
  transform: all 1s;
}

.footer__button:hover {
  transform: rotate(135deg);
}

.disabled {
  display: none;
}

@keyframes open {
  0% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 1;
    z-index: 3;
  }
}