.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 4;
}

.header__aside {
  transition: all 0.4s;
  will-change: opacity;
}

.header__aside_hide {
  opacity: 0;
}

.header__aside_type_left {
  position: absolute;
  top: 4vh;
  left: 3vw;
}

.header__aside_type_left:last-child {
  margin: 0;
}

.header__aside_type_right {
  position: absolute;
  top: 4vh;
  right: 3vw;
}

.header__aside_type_right:last-child {
  margin: 0;
}

.header__button {
  color: white;
  margin-right: 2vw;
  font-size: 3vh;
  text-transform: uppercase;
  position: relative;
}

.header__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.header__button:hover {
  animation: trigger 0.5s linear 0s 1 forwards;
}

.header__button_active {
  pointer-events: none;
}

.header__button_active::after {
  transform: scaleX(1);
}

@keyframes trigger {
  0% {
    text-shadow: -2px -2px 2px yellow;
  }
  100% {
    color: black;
    font-weight: bold;
    opacity: 0.7;
  }
}
