.memory-ring {
    margin: auto;
    position: absolute;
    right: 0;
    left: -4vh;
    cursor: pointer;
}

.memory-ring:hover .memory-ring__lit {
    opacity: 0.9;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
