.root {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.56vh;
    --gray: #8c8c8c;
    --violet: #59285c;
    --yellow: #c8c47c;
    --pink: #c078c4;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}